.App-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

.App-footer-right {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}