.App-products-card {
    display: flex;
    justify-content: space-around;
}

.App-product-card {
    border-radius: 20px;
    border: 2px black solid;
    margin: 50px;
    padding: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.App-product-title {
    text-decoration: underline;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.App-published-products-title {
    text-align: center;
    font-size: 3rem;
}